/* Add your background image and style */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif; /* Heading font from your project */
    background-image: url('../images/hero-large-comingsoon.webp'); /* Replace with your actual image path */
    background-size: cover;
    background-position: center;
}

.countdown-container {
    text-align: center;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    padding: 2rem;
    border-radius: 10px;
    margin-top: 30rem;
}

h1 {
    color: #008B76; /* Primary color */
    font-size: 3rem;
    margin-bottom: 2rem;
}
header h1{
    margin-bottom:20rem;
}

#countdown {
    font-size: 2rem;
    color: #1e1e24; /* Accent 2 color */
}
