/* Media Query for wider than mobile viewports.*/
@media (min-width: 40em) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navigation {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
    }

    #menu {
        display: none;
    }

    .gallery-main {
        max-width: 1440px;
        flex: 1 1 100%;
    }
    
    .container-images {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        gap: 1rem;
        justify-items: center;
        flex: 1 1 100%;
    }

     
     footer p {
        font-family:  "Delius", cursive;
        font-size: 1.2rem;
        padding: .2rem;
        margin: 0.5rem 0;
    }
    
    
}