:root{
    --gold: #FFD700;
    --dark-blue: #2A2E43;
    --soft-gold: #e9c212;
    --white: rgba(255, 255, 255, 1);
    --orange: #e36f0a;
    --bright-yellow: #fdd835;
    --navy-blue: rgb(18, 35, 129);
}

* {
    margin: 0;
    /* padding: 0; */
    box-sizing: border-box;
    height: auto;
}

h1, h2 {
    font-family: "Delius", cursive;
    /* font-weight: 400; */
    font-style: normal;
}

header {
    background-color:var(--dark-blue) ;
    padding: 1rem;
}

h1 {
    align-self: center;
    color: var(--gold);
    font-weight: 900;
    text-align: left;
    letter-spacing: 0.1rem;
    margin-top: 0.5rem;
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
    text-align: center;
    font-weight: 900;
    padding: 1rem;
    margin-top:  0.5rem;
}

a, figcaption, p {
    font-family: "Geist", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color:var(--dark-blue);
    flex-wrap: wrap;
}

.navigation a {
    display: none;
    color: var(--soft-gold);
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
    transition: all 0.4s;
}

#active {
    color: var(--white);
    text-decoration: overline;
    font-weight: 700;
}

nav a:hover, nav a:focus {
    color: var(--orange);
    font-size: 1.6rem;

}   

#menu {
    /* display: block; */
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    color: var(--bright-yellow);
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content:"☰";
}

#menu.open::before {
    content: "X";
}

.open a {
    display: block;
}

.gallery-main {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 1rem;
    padding: 2rem;
    width: 100%;
    margin: 0 auto;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 100%; */
    /* margin: 0 auto;
    padding: 2rem 0 2rem; */ 
}

.container-images {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
    width: 100%;
    
}

.container-images section {
    background-color: #fff;
    /* border-radius: 0.75rem;
    box-shadow: 0 0 0.75rem rgba(0, 0, 0, 0.3); */
    padding: 1rem;
    width: 100%;
    max-width: 35rem; /* Increased max-width to accommodate larger content */
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem;
}



.container-images img {
    overflow: clip;
    width: 100%;
    max-height: 225px;
    margin-top: 1rem;
    border-radius: .75rem;
    flex: 1 1 100%;
}

section h3{
    font-size: 1.5rem;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;

}

section p{
    padding: 0.25rem;
}

span.label {
    font-weight: 900;
}

/* img {
    overflow: clip;
    overflow-clip-margin: content-box 1em;
    border-radius: 1rem;
    box-shadow: 0 0 0.5rem;
} */

figcaption {
    margin-top: 0.2rem;
    text-align: center;
}

footer {
    background-color: var(--dark-blue);
    color: #fff;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
    border-top: 1px solid var(--navy-blue);
    border-bottom: 1px solid var(--navy-blue);
    margin-top: 2rem;
} 

footer p {
    /* padding-top: 1rem; */
    font-size: 1.2rem;
    color: #fff;
    padding: 0.1rem;
}
#lastModified{
    color:var(--bright-yellow);}